<div *ngIf="application">
  <h2>{{application.name | uppercase}} Details</h2>
  <div><span>id: </span>{{application.id}}</div>
  <div>
    <label for="application-name">Application name: </label>
    <input id="application-name" [(ngModel)]="application.name" placeholder="Application name"/>
  </div>
  <button type="button" (click)="goBack()">go back</button>
</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->